*{
  padding: 0;
  margin: 0;
}



// general
//////////////
body{
  // font-family: 'UniversLightNormalRegular';
  font-family: 'Wigrum';
  overflow-x: hidden;
  background: hsla(47, 20%, 91%, 1);
}

figure{
  margin: 0;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

// header
//////////////
.rk-nav-header.wp-block-navigation .wp-block-navigation-item__content{
  text-align: center !important;
  color: #fff !important;
  font-size: 52px !important;
  font-family: 'Voyage' !important;
  @media screen and (max-width: 768px) {
    font-size: 40px !important;
  }
}

.rk-nav-header.wp-block-navigation__container.is-responsive.wp-block-navigation{
  text-align: center;
  width: 100%;
  align-items: center !important;
}

.btn-top-header{
  font-size: 20px !important;
  color: #0F2335 !important;
  text-transform: uppercase;
  border-color: #0F2335 !important;
  @media screen and (max-width: 768px) {
    font-size: 14px !important;
    padding: 10px !important;
  }
  &:hover{
    background-color: #fff !important;
    color: #0F2335 !important;
  }
}

.page-template-page-hero .btn-top-header,
.template-hero .btn-top-header {
  color: #fff !important;
  border-color: #fff !important;
  &:hover{
    color: #0F2335 !important;
  }
}

header.wp-block-template-part {
  padding-top: 140px;
  padding-bottom: 130px;
  position: relative;
  z-index: 10;
  @media screen and (max-width: 768px) {
    padding: 115px 0 80px;
  }
}

.page-template-page-hero header.wp-block-template-part,
.template-hero header.wp-block-template-part {
  margin-bottom: -322px;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
}

.header-logo {
  position: absolute#{$additional-important};
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  @if ($additional-selector == '') {
    top: 100px;
  } @else {
    top: 0px;
  }
  @media screen and (max-width: 768px) {
    top: 40px;
    // left: 55%;
  }
  a{
    width: 185px;
    @media screen and (max-width:768px) {
      width: 113px;
    }
  }
}

.rk-nav-header {
  .wp-block-navigation__responsive-container-open {
    width: 42px;
    height: 42px;
    background: url(../img/burger-black.svg) center center no-repeat;
  }

  .wp-block-navigation__responsive-container-open svg,
  .wp-block-navigation__responsive-container-close svg {
    display: none;
  }

  .wp-block-navigation__responsive-container-close {
    top: 15px;
    right: 5%;
    width: 42px;
    height: 42px;
    // background: url(../img/cross.svg) center center no-repeat;
    background: url(../img/x-white.png) center center no-repeat;
  }

  .wp-block-navigation__responsive-dialog{
    padding-top: 15%;
    @media screen and (max-width:768px) {
      padding-top: 50%;
    }
  }

  .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open{
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
  .wp-block-navigation__responsive-container.is-menu-open {
    padding: 0 20px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  .wp-block-navigation__responsive-container-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.page-template-page-hero .rk-nav-header,
.template-hero .rk-nav-header {
  .wp-block-navigation__responsive-container-open {
    background: url(../img/burger.svg) center center no-repeat;
  }
}

.rk-top-banner {
  margin-top: -276px;
}

.universe-28{
  font-family: 'Univers LT Std', sans-serif;
  font-size: 20px;
  font-weight: 700;
  @media screen and (max-width:768px) {
    font-size: 14px;
  }
}

.universe-20{
  // font-family: 'Univers LT Std', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.85;
  color: #4d4d4d;
  @media screen and (max-width:768px) {
    font-size: 14px;
  }
}

.universe-12{
  // font-family: 'Univers LT Std', sans-serif;
  color: #4D4D4D;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 23px;
  letter-spacing: 1.3px;
}

.voyage-48{
  font-family: 'Apris';
  font-size: 40px;
  color: #4D4D4D;
  @media screen and (max-width:768px) {
    font-size: 24px;
  }
}

.wp-block-image.size-full.h-600{
  img{
    width: 100%;
    object-fit: cover;
    @media (min-width: 1200px) {
      height: 600px;
    }
  }
}

.title-section-page{
  // font-family: 'MinionProRegular';
  font-family: 'Apris';
  font-size: 40px;
  color: #0F2335;
  line-height: 65px;
  @media screen and (max-width:768px) {
    font-size: 20px;
    line-height: 33px;
  }
  em {
    font-family: 'EmbassyOpti';
    font-size: 80px;
    margin-right: 20px;
    @media screen and (max-width:768px) {
      font-size: 40px;
      margin-right: 10px;
    }
  }
}

.subtitle-section-page-top{
  font-size: 20px;
  // font-weight: 500;
  color: #4D4D4D;
  line-height: 150%;
}

.subtitle-section-page{
  font-size: 20px;
  font-weight: 500;
  color: #4D4D4D;
  line-height: 150%;
  @media screen and (max-width:768px) {
    font-size: 14px;
  }
}

.btn-outline-primary{
  font-family: 'MinionProRegular';
  color: #4D4D4D;
  border-color: #4D4D4D;
  font-size: 32px;
  font-weight: 400;
}

.title-overlay-top-section{
  font-family: 'Apris Medium';
  font-size: 60px !important;
  @media screen and (max-width:768px) {
    font-size: 38px !important;
    margin-top: 20%;
    margin-bottom: 0;
  }
}


/// home
///////////////
.home{
  .section-overlay-page{
    min-height: 730px;
    @media screen and (max-width:768px) {
      min-height: 764px;
    }
    .wp-block-cover__background{
      background-color: #000;
      opacity: .7;
    }
  }
  .title-overlay-img{
    font-family: 'Apris Medium';
    font-size: 48px !important;
    @media screen and (max-width:768px) {
      font-size: 38px !important;
    }
  }

  .desc-overlay-img{
    font-size: 18px;
    @media screen and (max-width:768px) {
      font-size: 14px !important;
    }
    @media (min-width: 1200px) {
      width: 742px;
      margin: auto;
    }
  }
  .btn-overlay-img{
    background: linear-gradient(122deg, #DC7C47 23.99%, #A04B1F 57.64%, #8A471A 91.29%);
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'MinionProRegular';
    border-radius: 7px;
    text-decoration: none;
    @media screen and (max-width:768px) {
      display: inline-block;
      margin-top: -15px;
    }
    &:hover{
      background: #fff;
      color: #DC7C47;
    }
  }
}

.home-exp-wrapper{
  background-color: #F0EEDC;
  color: #4D4D4D;
  .wp-block-media-text__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .home-exp-title{
    font-size: 48px !important;
    font-family: 'Apris Medium';
    @media screen and (max-width:768px) {
      font-size: 38px !important;
    }
  }
  .home-exp-desc{
    font-size: 18px;
    line-height: 185.2%; /* 37.04px */
    @media screen and (max-width:768px) {
      font-size: 14px;
    }
  }
  .home-exp-wrapper-list{
    li{
      list-style: none;
      font-size: 24px;
      font-family: 'Apris';
      font-weight: 700;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;

      .arrow-img{
        display: inline-flex;
        margin-right: 10px;
        width: 9px;
        line-height: 0;
      }

      a{
        color: #4D4D4D;
      }
    }
  }
  .btn-home-exp-more{
    font-size: 20px;
    &:hover{
      color: #fff;
      background: #4D4D4D;
      border-color: #4D4D4D;
    }
  }
}
.btn-reserve{
  font-size: 20px;
  &:hover{
    color: #fff;
    background: #4D4D4D;
    border-color: #4D4D4D;
  }
}

.btn-blue {
  font-family: 'Apris';
  font-size: 17px;
  font-weight: 700;
  line-height: 1.35em;
  letter-spacing: 0.03em;
  text-align: center;
  background: #476672;
  padding: 16px 70px 9px;
  color: #EDEBE4;
  border-radius: 7px;

  &:hover, &:active, &:focus {
    color: #EDEBE4;
    background: #476672cc;
  }
}

.btn-70 {
  padding: 16px 70px 9px;
  font-size: 32px;

  @media(max-width:767px) {
    padding: 14px 70px 12px;
    font-size: 16px;
  }
}

/// wellness
///////////////
.spa-column-wrapper{
  @media (min-width: 1200px) {
    margin-right: -10%;
  }
  img{
    object-fit: cover;
    @media (min-width: 1200px) {
      height: 450px;
    }
  }
}

.rk-retreat {
  height: 557px;
}

.rk-retreat-box {
  background: #F0EEDC;
  text-align: center;
  transition: all 0.3s ease;
  width: 286px;
  padding: 25px 40px;

  .slick-center & {
    width: 586px;
  }
}

.rk-retreat-content {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;

  .slick-center & {
    height: 110px;
  }
}


.rk-room-images {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    // background: url(../img/fullscreen.svg) center center no-repeat;
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 5px;
  }

  .rk-room-image{
    a{
      img{
        @media screen and (min-width:1200px) {
          height: 395px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .slick-dots {
    bottom: 0px;

    li {

      button:before {
        content: '';
        background: white;
        border-radius: 10px;
        width: 11px;
        height: 11px;
        border: 2px solid white;
        opacity: 1;
      }

      &.slick-active {
        button:before {
          background: black;
        }
      }
    }

  }
}

.rk-room {
  margin-bottom: 60px;
  @media screen and (max-width:768px) {
    margin-bottom: 35px;
  }
}

.rk-room-7{
  .rk-room-content{
    @media screen and (max-width:768px) {
      padding-top: 0;
    }
  }
}

.rk-room-content {
  padding: 40px 50px 0;
  color: #4D4D4D;
  font-size: 16px;
  min-height: 260px;
  letter-spacing: 0.05em;
  line-height: 23px;
  letter-spacing: 1.3px;
  @media screen and (max-width:768px) {
    font-size: 14px;
  }
  .btn-reserve-room{
    @media screen and (max-width:768px) {
      text-align: center;
    }
    .desc {
      @media screen and (min-width: 1200px) {
        min-height: 120px;
      }
    }
  }

}

.rk-room-title {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Apris';
}

.rk-breadcrumb {
  font-family: 'Apris Medium';
  font-weight: 500;
  padding: 25px 15px;
  text-transform: uppercase;
  font-size: 9px;
  color: #4D4D4D;

  @media screen and (min-width:768px) {
    padding: 60px 15px;
	  font-size: 14px;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: hsla(0, 0%, 30%, 1);
  }
}

.rk-event-intro-description {
  margin-bottom: 130px;

  @media (max-width: 1023px) {
    margin-bottom: 65px;
  }
}

.rk-event {
  padding: 0 15px;

  @media (max-width: 1023px) {
    margin-bottom: 40px;
  }
}

.rk-event-title {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Voyage;
  font-size: 30px;
  color: #fff;
  z-index: 1;

  @media screen and (max-width:768px) {
    font-size: 20px;
    bottom: 10px;
  }
}

.rk-event-thumbnail {
  position: relative;
  height: 440px;

  @media (max-width: 1023px) {
    height: 250px;
  }
}


.event-title-text{
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 1;
}

.event-thumb-img {
  position: relative;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 20%;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) -27.06%, rgba(87, 100, 111, 0) 6.3%, rgba(15, 35, 53, 0.87) 71.56%);
  }
}

.rk-event-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rk-event-content {
  padding: 20px 20px;
  background: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  @media (min-width:1024px) {
    min-height: 580px;
    padding: 20px 50px;
  }

  .btn {
    @media (max-width:768px) {
      font-size: 16px;
    }
  }
}

.rk-event-text {
  font-family: 'Apris Medium';
  font-size: 25px;
  line-height: 1.2;
  color: #D9D9D9;

  @media (max-width:1366px) {
    font-size: 22px;
  }

  @media (max-width:768px) {
    font-size: 16px;
  }

  h2, h3, h4 {
    font-family: 'Apris';
    font-size: 20px;
    margin-bottom: 20px;
    color: #EDEBE4;
    line-height: 1.1;

    @media (min-width:768px) {
      font-size: 30px;
      margin-bottom: 30px;
    }

    em {
      font-family: 'EmbassyOpti';
      font-size: 40px;
      margin-right: 10px;
      @media(min-width:768px) {
        font-size: 60px;
        margin-right: 20px;
      }
    }
  }
}

.rk-event-detail-description {
  color: hsla(0, 0%, 30%, 1);
  font-size: 14px;
  @media(min-width:768px) {
    font-size: 28px;
  }
}

.rk-event-detail-box-1,
.rk-event-detail-box-2,
.rk-event-detail-box-3 {
  background: hsla(0, 0%, 85%, 1);
  padding: 20px 40px;

  @media(max-width:767px) {
    padding: 20px;
  }
}

.rk-event-detail-box-1 {
  margin-top: 75px;
}

.rk-event-detail-box-2,
.rk-event-detail-box-3 {
  margin-top: 40px;
}

.rk-event-detail-box-3 {
  padding: 55px 40px 30px;

  @media(max-width:767px) {
    padding: 20px;
  }
}

.rk-event-detail-box-1-heading .wp-block-heading,
.rk-event-detail-box-2-heading .wp-block-heading,
.rk-event-detail-box-3-heading .wp-block-heading {
  font-family: 'Apris';
  font-size: 30px;
  line-height: 1.88;
  font-weight: 700;
  margin-bottom: 0;

  @media(max-width:767px) {
    font-size: 20px;
  }
}

.rk-event-detail-box-3-heading .wp-block-heading {
  text-align: center;
  margin-bottom: 20px;

  @media(max-width:767px) {
    margin-bottom: 5px;
  }
}

.rk-event-detail-box-1-content,
.rk-event-detail-box-2-content {
  font-family: 'Apris';
  font-size: 30px;
  line-height: 1.88;

  @media(max-width:767px) {
    font-size: 16px;
  }

  :last-child {
    margin-bottom: 0;
  }

  ul {
    padding-left: 30px;
  }
}

.rk-event-detail-box-3-content {
  font-family: 'Apris';
  font-size: 20px;
  line-height: 1.88;

  ul {
    padding-left: 30px;

    @media(max-width:767px) {
      padding-left: 15px;
    }
  }

  @media(max-width:767px) {
    font-size: 14px;
  }
}


.rk-dot-line {
  .slick-dots{
    position: initial;
    margin-top: 20px;
    @media screen and (max-width:768px) {
      margin-top: 0;
    }
    li{
      margin: 0;
      width: auto;
      &.slick-active{
        button{
          background: #4C1B21;
        }
      }
      button{
        background: #D9D9D9;
        text-indent: -9999px;
        padding: 1px 50px;
        height: auto;
        @media screen and (max-width:768px) {
          padding: 2px 30px;
        }
      }
    }
  }
}


/// experience
////////////////
.block-exp{
  .floating-block-exp{
    padding: 20px;
    background: rgba(15, 35, 53, 0.39);
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    .title-exp-block{
      font-family: 'MinionProRegular';
      font-size: 40px;
    }
    .desc-exp{
      font-size: 18px;
    }
    .btn-discover{
      color: #fff;
      font-size: 20px;
      border: 1px solid;
      border-radius: 8px;
      padding: 8px 40px;
      text-decoration: none;
      display: inline-block;
      margin: 20px 0;
      &:hover{
        background-color: #fff;
        color: #000;
      }
    }
  }
}


// modal
.modal-xl {
  max-width: 1400px;
}

.rk-close {
  float: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  background: url(../img/cross.svg) center center no-repeat;
}


// footer
//////////////
.logo-bali-bottom {
  width: 125px;
  margin-bottom: 15px;
  @media(min-width:768px) {
    width: 175px;
    margin-right: 50px;
  }
}
.logo-bumn-bottom {
  @media(max-width:767px) {
    width: 85px;
  }
}
.rk-footer-bottom {
  @media(min-width:992px) {
    margin-top: -70px;
  }
}
.column-btn-footer{
  @media screen and (max-width:768px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.form-subs{
  .w-70{
    width: 100%;
    @media (min-width: 1200px) {
      width: 72%;
    }
   input{
    width: 100%;
   }
  }
  input{
    background-color: transparent;
    background: #fff;
    border: none;
    outline: none;
    line-height: 40px;
    padding-left: 20px;
    font-size: 18px;
    @media (max-width: 563px) {
      background-size: 100%;
      line-height: 30px;
    }
  }
  .btn-submit-subs{
    background-color: #476672;
    color: #EDEBE4;
    font-size: 17px;
    border: none;
    line-height: 36px;
    font-family: 'Apris';
    margin-left: -10px;
    font-weight: 700;
    @media screen and (max-width:768px) {
      margin-left: 0 !important;
      font-size: 14px;
    }
  }
}
.rk-footer{
  background: #212121 url(../img/pattern.png);
  color: #D9D9D9;
  font-family: 'Apris Medium';
  font-weight: 500;
  .title-section{
    h1{
      font-family: 'EmbassyOpti';
      font-size: 46px;
      color: #fff;
      font-weight: 500;
      @media screen and (max-width:768px) {
        font-size: 30px;
      }
    }
  }
  .subtitle{
    font-size: 14px;
    @media (min-width:768px) {
      font-size: 18px;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
  .after-form{
    font-size: 12px;
    @media screen and (min-width:768px) {
      font-size: 18px;
    }
  }
  .footer-bottom-right{
    ul{
      li{
        list-style: none;
        display: inline-block;
        padding-right: 10px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  .footer-menus-wrapper{
    @media screen and (max-width:768px) {
      padding-bottom: 0 !important;
    }
    .rk-nav-service-title {
      font-size: 10px;
      text-transform: uppercase;
      margin-bottom: 8px;

      a {
        color: #D9D9D9;
      }

      @media screen and (min-width:768px) {
        font-size: 18px;
      }
    }
    .rk-nav-service{
      .wp-block-navigation-item{
        font-size: 10px;
        letter-spacing: 0.03em;
        line-height: 1.28;

        a {
          padding: 5px 0;
        }

		@media(min-width:768px){
			font-size: 14px;

			a {
			  padding: 10px 0;
			}
		}
      }
    }
    .footer-menu-left{
      .footer-block{
        .title-col{
          font-size: 13px;
        }
        ul{
          li{
            list-style: none;
            font-size: 11px;
            margin-bottom: 10px;
            a{
              color: #D9D9D9;
              display: block;
            }
          }
        }
      }
    }
    .footer-menu-center {
      margin-bottom: 0;
      list-style: none;
      text-align: center;
      a {
        color: #D9D9D9;
        text-transform: uppercase;
        padding: 10px 10px;
        display: inline-block;
      }
    }
    .footer-right{
      p {
        font-size: 10px;
        font-weight: 300;
        line-height: 1.7;
        font-family: 'Grotesque';
        letter-spacing: 0.012em;

		@media(min-width:768px) {
			font-size: 14px;
		}
      }
      @media screen and (max-width:768px) {
        text-align: center;
        .block{
          margin-top: 20px;
          text-align: center !important;
        }
      }
      .title-col-large {
        font-size: 12px;
        line-height: 1.92;
        font-family: 'Apris Medium';

		@media(min-width:768px) {
			font-size: 16px;
		}
      }
    }
  }
}

.rk-nav-footer {
  margin-bottom: 36px;

  .wp-block-navigation__container {
    display: block;
  }

  .wp-block-navigation-item__content {
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 0;
    line-height: 1.2;
    @media screen and (min-width:768px) {
      font-size: 15px;
      padding: 12px 0;
    }
  }

  .wp-block-navigation-item:first-child .wp-block-navigation-item__content {
    padding-top: 0;
  }
}

.rk-nav-footer {
  margin-bottom: 36px;

  .wp-block-navigation__container {
    display: block;
  }

  .wp-block-navigation-item__content {
    text-transform: uppercase;
    font-size: 10px;
    padding: 12px 0;
    line-height: 1.2;
    @media screen and (min-width:768px) {
      font-size: 18px;
    }
  }

  .wp-block-navigation-item:first-child .wp-block-navigation-item__content {
    padding-top: 0;
  }
}

.rk-nav-service {

  .wp-block-navigation__container {
    display: block;
  }
}

.rk-social-media{
  display: flex;
  justify-content: end;
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-top: 25px;
  }

  li{
    list-style: none;
    padding-left: 30px;
    &:hover{
      opacity: 0.5;
    }
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

#rk .py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
